trigger:
  branches:
    include:
    - main
    - develop

pr:
  branches:
    include:
    - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '18.x'

stages:

- stage: Build
  displayName: Build and Test
  jobs:
  - job: BuildJob
    displayName: Build Job
    steps:

    # Install Node.js
    - task: NodeTool@0
      inputs:
        versionSpec: $(nodeVersion)
      displayName: 'Install Node.js'

    # Install dependencies
    - script: |
        cd src
        npm ci
      displayName: 'Install dependencies'

    # Run tests
    - script: |
        cd src
        npm test -- --coverage
      displayName: 'Run tests'

    # Publish test results
    - task: PublishTestResults@2
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: 'src/coverage/junit.xml'
      condition: always()
      displayName: 'Publish test results'

    # Publish code coverage
    - task: PublishCodeCoverageResults@1
      inputs:
        codeCoverageTool: 'Cobertura'
        summaryFileLocation: 'src/coverage/cobertura-coverage.xml'
      condition: always()
      displayName: 'Publish code coverage'